ClientEmployeeData/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ClientEmployeeData"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "DF-Reporting"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "reporting_DS_DB_userData_Task",
								"type": "DatasetReference"
							},
							"name": "GettingTotalCompletionProject"
						},
						{
							"dataset": {
								"referenceName": "reporting_DS_DB_userData_Task",
								"type": "DatasetReference"
							},
							"name": "Incompleteproject"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_DB_Reporting_Completed_Project_details_Fart",
								"type": "DatasetReference"
							},
							"name": "FartTableFor100CompletionProjects"
						},
						{
							"dataset": {
								"referenceName": "DS_DB_Uncompleted_Projects",
								"type": "DatasetReference"
							},
							"name": "FarttableForNotCompletedProjects"
						}
					],
					"transformations": [
						{
							"name": "filter1"
						},
						{
							"name": "selectingrequiredColumns"
						},
						{
							"name": "filter2"
						},
						{
							"name": "selectingRequiedCoulmns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          id as string,",
						"          first_name as string,",
						"          last_name as string,",
						"          email as string,",
						"          address as string,",
						"          gender as string,",
						"          dob as timestamp,",
						"          role as string,",
						"          phone_number as string,",
						"          password as string,",
						"          taskIds as string,",
						"          userId as string,",
						"          projectName as string,",
						"          taskName as string,",
						"          teamMembers as string,",
						"          dueDate as timestamp,",
						"          completionPercentage as integer,",
						"          forStoringTasks as string,",
						"          createdAt as timestamp,",
						"          updatedAt as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> GettingTotalCompletionProject",
						"source(output(",
						"          id as string,",
						"          first_name as string,",
						"          last_name as string,",
						"          email as string,",
						"          address as string,",
						"          gender as string,",
						"          dob as timestamp,",
						"          role as string,",
						"          phone_number as string,",
						"          password as string,",
						"          taskIds as string,",
						"          userId as string,",
						"          projectName as string,",
						"          taskName as string,",
						"          teamMembers as string,",
						"          dueDate as timestamp,",
						"          completionPercentage as integer,",
						"          forStoringTasks as string,",
						"          createdAt as timestamp,",
						"          updatedAt as timestamp",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> Incompleteproject",
						"GettingTotalCompletionProject filter(completionPercentage==100) ~> filter1",
						"filter1 select(mapColumn(",
						"          id,",
						"          first_name,",
						"          last_name,",
						"          taskIds,",
						"          teamMembers,",
						"          dueDate",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectingrequiredColumns",
						"Incompleteproject filter(completionPercentage<100) ~> filter2",
						"filter2 select(mapColumn(",
						"          id,",
						"          first_name,",
						"          last_name,",
						"          email,",
						"          gender,",
						"          taskIds,",
						"          projectName,",
						"          taskName,",
						"          teamMembers,",
						"          dueDate,",
						"          completionPercentage,",
						"          forStoringTasks",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectingRequiedCoulmns",
						"selectingrequiredColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> FartTableFor100CompletionProjects",
						"selectingRequiedCoulmns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> FarttableForNotCompletedProjects"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL-DS-Reporting-Demension-Table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DemensionTable_Project_Details",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Reporting_UserData_Task",
								"type": "DataFlowReference",
								"parameters": {
									"parameter1": "taskIds"
								},
								"datasetParameters": {
									"PrepToReportingUserData": {},
									"PrepToReportingTask": {},
									"Dimensiontable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FartTableCompletedandUnCompleted_Project_Details",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DemensionTable_Project_Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"GettingTotalCompletionProject": {},
									"Incompleteproject": {},
									"FartTableFor100CompletionProjects": {},
									"FarttableForNotCompletedProjects": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PL-Reporting"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL-Data-Injection')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_p41",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_p41",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "public.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "raw.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "PostgreSqlV2Source"
										},
										"sink": {
											"type": "AzureSqlSink",
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_p41",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_p41",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Task"
								},
								"destination": {
									"table": "Task"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "id",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "id",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "userId",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "userId",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "projectName",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "projectName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "taskName",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "taskName",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "teamMembers",
													"type": "String",
													"physicalType": "jsonb"
												},
												"sink": {
													"name": "teamMembers",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "dueDate",
													"type": "DateTime",
													"physicalType": "timestamp without time zone"
												},
												"sink": {
													"name": "dueDate",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "completionPercentage",
													"type": "Int32",
													"physicalType": "integer"
												},
												"sink": {
													"name": "completionPercentage",
													"type": "Int32",
													"physicalType": "int"
												}
											},
											{
												"source": {
													"name": "forStoringTasks",
													"type": "String",
													"physicalType": "jsonb"
												},
												"sink": {
													"name": "forStoringTasks",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "createdAt",
													"type": "DateTime",
													"physicalType": "timestamp without time zone"
												},
												"sink": {
													"name": "createdAt",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "updatedAt",
													"type": "DateTime",
													"physicalType": "timestamp without time zone"
												},
												"sink": {
													"name": "updatedAt",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							},
							{
								"source": {
									"table": "UserData"
								},
								"destination": {
									"table": "UserData"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "id",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "id",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "first_name",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "first_name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "last_name",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "last_name",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "email",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "email",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "address",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "address",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "gender",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "gender",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "dob",
													"type": "DateTime",
													"physicalType": "timestamp without time zone"
												},
												"sink": {
													"name": "dob",
													"type": "DateTime",
													"physicalType": "datetime2"
												}
											},
											{
												"source": {
													"name": "role",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "role",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "phone_number",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "phone_number",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "password",
													"type": "String",
													"physicalType": "text"
												},
												"sink": {
													"name": "password",
													"type": "String",
													"physicalType": "nvarchar"
												}
											},
											{
												"source": {
													"name": "taskIds",
													"type": "String",
													"physicalType": "ARRAY"
												},
												"sink": {
													"name": "taskIds",
													"type": "String",
													"physicalType": "nvarchar"
												}
											}
										],
										"typeConversion": true,
										"typeConversionSettings": {
											"allowDataTruncation": true,
											"treatBooleanAsNumber": false
										}
									}
								}
							}
						]
					}
				},
				"folder": {
					"name": "PL-Injection"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Staging_To_Prep_UserData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Staging-to-Prep-UserData",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF-Staging-UserData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"UserdataCleaning": {},
									"StoringInDataBase": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PL-Staging-to-Prep"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pl_Staging_To_Prep_Task')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Staging-to-Prep-Task",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DFStagingTask",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PL-Staging-to-Prep"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Staging",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "InjectingData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Staging_To_Prep_UserData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PREP",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pl_Staging_To_Prep_Task",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Reporting",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "PREP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL-DS-Reporting-Demension-Table",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "InjectingData",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL-DS-Reporting-Demension-Table",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Excute_PipeLines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Staging_To_Prep_UserData')]",
				"[concat(variables('factoryId'), '/pipelines/Pl_Staging_To_Prep_Task')]",
				"[concat(variables('factoryId'), '/pipelines/PL-DS-Reporting-Demension-Table')]"
			]
		}
	]
}